:root {
	--main-color: rgb(220,9,20);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.main_header {
	padding: 1.2rem 10rem;
	display: flex;
	justify-content: space-between;
	background-color: purple;
	align-items: center;
}

.main_header__svg {
	fill: var(--main-color);
	height: 2.5rem;
} 

.main_header__login {
	display: inline-block;
	background-color: var(--main-color);
	text-decoration: none;
	color: white;
	font-weight: 600;
	padding: 0.55rem 1.1rem;zx
	font-size: 0.9rem;
	border-radius: 0.3rem;
	border: 1px solid var(--main-color);
	height: 2.35rem;
}

.main_header__language {
	color: white;
	border-radius: 0.3rem;
	border: 1px solid white;
	background-color: transparent;
	padding: 0.55rem 1.1rem;
	margin-right: 12;
	font-weight: 600;
	font-size: 0.9rem;
	margin-right: 1rem;
}
