* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #121212;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0; /* To occupy the whole height*/
	width: 196px;
	background-color: #000000;
	padding: 24px;
}

.sidebar__logo img {
	width: 130px;
}

.sidebar__navigation ul {
	margin-top: 20px;
}

.sidebar__navigation ul li {
	padding: 10px 0px;
}

.navigation__a {
	color: #b3b3b3;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

.navigation__a .fa {
	font-size: 20px;
	margin-right: 10px;
}

.navigation__a:hover {
	color: #ffffff;
}

.navigation__a:hover .fa { /* Icons stay the same color while de text is hovered */
	color: #b3b3b3;
}

.navigation__a .fa:hover {
	color: #ffffff;
}

.sidebar__policies {
	position: absolute;
	bottom: 70px;
}

.sidebar__policies ul li {
	list-style: none;
	padding-bottom: 5px;
}

.policies__a {
	color: #b3b3b3;
	font-weight: 500;
	text-decoration: none;
}

.policies__a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.main_header {
	margin-left: 245px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	background-color: #101010;
	padding: 14px 30px;
}

.main_header__buttons .fa {
	color: #717171;
	width: 34px;
	height: 34px;
	cursor: not-allowed;
	border-radius: 100%;
	font-size: 18px;
	border: 0px;
	background-color: #090909;
	margin-right: 10px;
}

.nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	flex-flow: row;
	gap: 15px;
}

.nav__list li {
	display: inline-block;
	margin: 0px 8px;
	width: 70px;
}

.nav__button {
	color: #b3b3b3;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}

.nav__button:hover {
	color: #ffffff;
	font-size: 15px;
}

.nav__divider {
	color: #ffffff;
	font-size: 26px;
}