* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #121212;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0; /* To occupy the whole height*/
	width: 196px;
	background-color: #000000;
	padding: 24px;
}

.sidebar__logo img {
	width: 130px;
}

.sidebar__navigation ul {
	margin-top: 20px;
}

.sidebar__navigation ul li {
	padding: 10px 0px;
}

.navigation__a {
	color: #b3b3b3;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

.navigation__a .fa {
	font-size: 20px;
	margin-right: 10px;
}

.navigation__a:hover {
	color: #ffffff;
}

.navigation__a:hover .fa { /* Icons stay the same color while de text is hovered */
	color: #b3b3b3;
}

.navigation__a .fa:hover {
	color: #ffffff;
}

.sidebar__policies {
	position: absolute;
	bottom: 80px;
}

.sidebar__policies ul li {
	list-style: none;
	padding-bottom: 5px;
}

.policies__a {
	color: #b3b3b3;
	font-weight: 500;
	text-decoration: none;
}

.policies__a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.main_header {
	height: 64px;
	margin-left: 245px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	background-color: #101010;
	padding: 14px 30px;
}

.main_header__buttons .fa {
	color: #717171;
	width: 34px;
	height: 34px;
	cursor: not-allowed;
	border-radius: 100%;
	font-size: 18px;
	border: 0px;
	background-color: #090909;
	margin-right: 10px;
}

.nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	flex-flow: row;
	gap: 15px;
}

.nav__list li {
	display: inline-block;
	margin: 0px 8px;
	width: 70px;
}

.nav__button {
	color: #b3b3b3;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}

.nav__button:hover {
	color: #ffffff;
	font-size: 15px;
}

.nav__divider {
	color: #ffffff;
	font-size: 26px;
}

.nav__login {
	background-color: #ffffff;
	box-sizing: border-box;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	border: 0px;
	/*
	border: 13px;
	border: solid 2px #ffffff;
	*/ 

	border-radius: 32px;
	padding: 14px 30px;
	cursor: pointer;
}

/*
.nav__login:hover {
	background-color: #000000;
	color: #ffffff;
	border-color: #ffffff;
	border: solid 2px;
	box-sizing: content-box;
}
*/

.nav__login:hover {
	background-color: #f2f2f2;
	transform: scale(1.05);
	padding: 14px 30px;
}

.preview__text {
	position: fixed;
	left: 5px;
	right: 5px;
	bottom: 5px;
	width: 100vw;
	background: linear-gradient(to right, #ae2896, #509bf5);
	padding: 15px 35px;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

.preview__header {
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	margin-bottom: 4px;
}

.preview__paragraph {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}